


body{
    height: 10000px;
}


.logo{
    text-align: center;
    width: 100%;
    height: 75px;
}

#logo{
    width: auto;
    height: 100%;
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}