


body{
    height: 10000px;
}


.logo{
    text-align: center;
    width: 100%;
    height: 75px;
}

#logo{
    width: auto;
    height: 100%;
}

.navbar{
    width: 100%;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
      display: inline;
    border-right: 1px solid firebrick;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: firebrick;
    font-weight: bold;

  }

  li:last-child {
    border-right: none;
  }

  .active {
    color: firebrick;
  }